data
output
__pycache__/

# Bytecode
*.pyc

# Audio
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a
*.wma

# Video
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.m4v

# (Optional) Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.svg

# Archives / binaries
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.iso
*.bin
*.exe
